/* Tabs */
/*
    Tabs courtesy of Chris Coyer
    https://css-tricks.com/functional-css-tabs-revisited/
 */
.tabs {
  position: relative;   
  min-height: 300px;
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}
.content form {
  display: inline;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom:0px;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

/*****************************************************************************/
/* Table */
.pretty-table {
  width:100%; 
  border-collapse:collapse; 
}
.pretty-table td { 
  padding:7px; border:#4e95f4 1px solid;
}
.pretty-table td p {
  font-size: 16px;
}
/* provide some minimal visual accomodation for IE8 and below */
.pretty-table tr {
  background: #b8d1f3;
}
/*  Define the background color for all the ODD background rows  */
.pretty-table tr:nth-child(odd) { 
  background: #b8d1f3;
}
/*  Define the background color for all the EVEN background rows  */
.pretty-table tr:nth-child(even) {
  background: #dae5f4;
}

/*****************************************************************************/
/* Button */
.b-button {
  -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
  -webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
  box-shadow:inset 0px -3px 7px 0px #29bbff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
  background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
  background-color:#2dabf9;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  border:1px solid #0b0e07;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  padding:5px 40px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
}
.b-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
  background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
  background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
  background-color:#0688fa;
}
.b-button:active {
  position:relative;
  top:1px;
}

/*****************************************************************************/
/* Miscilaneous */
.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.2); }
.grayscale {
  width:30px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}