#header
  .title
    %h2 You are currently browsing your local machine's directories
    %a.b-button(href="/")Go back to listing
  %hr
.browse
  %table.pretty-table(style="width:40%")
    %tr
      %td= "/#{request.fullpath.split("/")[2..-1].join('/').gsub('%20',' ')}"
      %td(style="text-align:center;") backup
    - if request.fullpath != "/browse"
      %tr
        %td
          %a(href="/#{request.fullpath.split('/')[1..-2].join('/')}")Go up
        %td
    - @files.files.each_value do |file|
      %tr
        %td
          - if File.directory?(file.fullpath)
            %a(href="/browse#{file.fullpath}")
              %p= file.basename
          - else
            %p= file.basename
        %td.grow(style="text-align:center;")
          %a(href="/save#{file.fullpath}")
            %img(src="/images/backup.png" title="Backup!" style="width:35px;")