%h2 Instructions for linking your Dropbox API
%hr
%ol(style="font-size:18px;")
  %li
    %p Create a Dropbox account at <a href="www.dropbox.com" target="_blank">dropbox.com</a>
  %li
    %p Create a developer app: <a href="https://www.dropbox.com/developers/apps" target="_blank">https://www.dropbox.com/developers/apps</a>
  %li
    %p Click on "Create App"
    %img(src="/images/dropbox\ flow/create.png")
  %li
    %p Choose a "Dropbox API app"
    %img(src="/images/dropbox\ flow/choose.png")
  %li
    %p Allow the application to have access to only the app folder
    %img(src="/images/dropbox\ flow/choose2.png")
  %li
    %p Give your app a name (This will need to be unique) and submit
    %img(src="/images/dropbox\ flow/name.png")
  %li
    %p Show your secret
    %img(src="/images/dropbox\ flow/show.png")
  %li
    %p Generate an authorizarion key
    %img(src="/images/dropbox\ flow/generate.png")
  %li
    %p Copy/paste your API key, secret, and generated authorization key into the fields below.
%hr(style="width:70%; margin:10px;")
%form(action="/dropbox_signin" method="POST")
  %table
    %tr
      %th API Key:
      %th
        %input(type="text" name="key")
    %tr
      %th App Secret:
      %th
        %input(type="text" name="secret")
    %tr
      %th Authorization Token:
      %th
        %input(type="text" name="auth")
    %tr
      %th
      %th
        %button(type="submit")Submit!