#header
  .title
    %h1= File.basename(@path)
    %h4 A place to restore or delete a backup
    %a(href="/")Go back to listing
%hr
#edit
  %form(action="/restore" method="POST")
    %button(type="submit" name="restore" value="#{@path}")Restore
  %form(action="/delete" method="POST")
    %button(type="submit" name="delete_local" value="#{@path}")Delete Locally
    - if @exists_in_dropbox
      %button(type="submit" name="delete_dropbox" value="#{@path}")Delete on Dropbox