#header
  .title
    %h1 Backup
    %h4 A place to keep things backed up
    - if @pass.nil? || @pass.empty?
      %p Setup your encryption password:
      %form(action="/secret" method="POST")
        %input(type="password" name="pass")
        %button(type="submit")Go
%hr
%a(class="b-button" href='/browse/home/#{ENV['USER']}')Browse System
- if @internet == false
  %h3(style="color:red;text-align:center;")Connect internet for cloud access.
.tabs
  .tab
    %input(type="radio" id="tab-1" name="tab-group-1" checked)
      %label(for="tab-1")Local Backups
      .content
        - if @ordered.size > 0 # Dropbox & files
          %table(class="pretty-table")
            %tr
              %td Name
              %td Last Modified
              %td Actions
            %tr
              - @ordered.each do |file|
                %tr
                  %td= file.basename
                  %td= "#{file.modified[:date]}   #{file.modified[:time]}"
                  %td
                    %form(action="/restore" method="POST")
                      %button.grow(type="submit" style="cursor:pointer; background: url(/images/recycle.png) no-repeat; width:35px;height:35px; border:none;background-size:30px;" name="restore_from_local" value="#{file.fullpath}" title="Restore Backup")
                    - if !@client.nil?
                      %form(action="/dropbox" method="POST")
                        - if !@client.exists?(file.basename)
                          %button.grow(type="submit" style="cursor:pointer; background: url(/images/upload.png) no-repeat; width:35px;height:35px; border:none;background-size:30px;" name="push" value="#{file.fullpath}" title="Upload to Dropbox")
                        - else
                          %button.grayscale(type="submit" style="cursor:pointer; background: url(/images/upload.png) no-repeat; width:35px;height:35px; border:none;background-size:30px; cursor:default;" title="Already Uploaded" disabled)
                    - elsif @internet && @client.nil?
                      %button.grayscale(type="submit" style="cursor:pointer; background: url(/images/upload.png) no-repeat; width:35px;height:35px; border:none;background-size:30px; cursor:default;" title="Dropbox Not Connected" disabled)
                    - else
                      %button.grayscale(type="submit" style="cursor:pointer; background: url(/images/upload.png) no-repeat; width:35px;height:35px; border:none;background-size:30px; cursor:default;" title="Check Internet" disabled)
                    %form(action="/delete" method="POST")
                      %button.grow(type="submit" name="delete_local" value="#{file.fullpath}" style="cursor:pointer; background: url(/images/x.png) no-repeat; width:35px;height:35px; border:none;background-size:30px" title="Delete Local Backup")
        - elsif @ordered.empty? # No existing backups
          %p There are currently no backups existing on this machine.
        - else
          %p Something terrible happened...
  .tab
    %input(type="radio" id="tab-2" name="tab-group-1")
      %label(for="tab-2")Backups on Dropbox
      .content
        -if !@internet # No internet
          %p Requires an internet connection to query files in Dropbox.
        - elsif @client.nil? && @internet # No Dropbox, but internet
          %a(href="/dropbox-signin")
            %button.b-button Sign into Dropbox
        - elsif !@client.nil? && @dropbox_files.size > 0 # Dropbox & files
          %table(class="pretty-table")
            %tr
              %td Name
              %td Last Modified
              %td Actions
            %tr
              - @dropbox_files.each do |file|
                %tr
                  %td= file.basename
                  %td= "#{file.modified[:date]}\s\s\s#{file.modified[:time]}"
                  %td
                    %form(action="/restore" method="POST")
                      %button.grow(type="submit" style="cursor: pointer; background: url(/images/recycle.png) no-repeat; width:35px;height:35px; border:none;background-size:30px" name="restore_from_dropbox" value="#{file.basename}" title="Restore Backup")
                      - if @ordered.map{ |f| f.basename }.include?(file.basename)
                        %button.grow(type="submit" style="cursor: pointer; background: url(/images/download.png) no-repeat; width:35px;height:35px; border:none;background-size:30px" name="download_from_dropbox" value="#{file.basename}" title="Download")
                      - else
                        %button.grayscale(type="submit" style="cursor:pointer; background: url(/images/download.png) no-repeat; width:35px;height:35px; border:none;background-size:30px; cursor:default;" title="Already Exists" disabled)
                    %form(action="/delete" method="POST")
                      %button.grow(type="submit" style="cursor: pointer; background: url(/images/no_cloud.png) no-repeat; width:35px;height:35px; border:none;background-size:30px" name="delete_dropbox" value="#{file.basename}" title="Delete on Dropbox")
        - elsif @dropbox_files.empty? # No existing backups
          %p There are currently no backups existing in both places
        - else
          %p Something terrible happened...