%h1 Save your backup
%h3 This is a place to optionally schedule backups for this path, or give your backup a name.
%hr
%form(action="/backup" method="POST")
  %input(type="text" name="name" placeholder="Name your backup" style="margin:10px 0;") <i>(i.e. Music, Documents, etc.)</i>
  %br
  %h4 <u>Make a schedule</u> (Optional)
  %input(type="checkbox" name="schedule[]" value="sunday" style="margin:0 0 10px 0;")Sundays
  %br
  %input(type="checkbox" name="schedule[]" value="monday" style="margin:10px 0;")Mondays
  %br
  %input(type="checkbox" name="schedule[]" value="tuesday" style="margin:10px 0;")Tuesdays
  %br
  %input(type="checkbox" name="schedule[]" value="wednesday" style="margin:10px 0;")Wednesdays
  %br
  %input(type="checkbox" name="schedule[]" value="thursday" style="margin:10px 0;")Thursdays
  %br
  %input(type="checkbox" name="schedule[]" value="friday" style="margin:10px 0;")Fridays
  %br
  %input(type="checkbox" name="schedule[]" value="saturday" style="margin:10px 0;")Saturdays
  %hr(align="left" style="width:30%;")
  %input(type="hidden" name="meta" value="#{@file.to_json}")
  %button(type="submit" style="margin:10px 0;")Submit!